<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head">
	<title>Matrícula</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- HEADER UNICO -->
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">
				<div class="pt-4  display-5 fw-bolder">
					Detalles de la Matrícula
				</div>
				<div class="card">
					<div class="card-body">
							<ul class="list-group" >
								<li  class="list-group-item" th:each="curso : ${cursosSeleccionados}">
									<div class="hstack gap-1">
										<div class="pb-2">
											<span th:text="${curso.nombre}"></span> 
										</div>
										<div class="pb-2 ms-auto"></div>
										
										<div class="ps-2 pb-2">
											S/.<span th:text="${curso.costo}"></span>
										</div>
									</div>
								</li>
							</ul>
							<div>
								<p>Total a pagar: S/.<span th:text="${totalCosto}"></span></p>
								<div class="text-center d-flex justify-content-center">
									<form th:action="@{/matricular}" method="post">
										<a th:href="@{/seleccionCursos}" class="btn btn-danger">Cancelar</a>
										<button type="submit" class="btn btn-success">Matricular</button>
									</form>
								</div>
							</div>
					</div>
				</div>
			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>