<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head"></head>

<body>
	<div th:insert="fragmentos/header :: menu"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 bg-warning">
				<div th:insert="fragmentos/lado_izquierdo :: contenido_lado_izquierdo"></div>
			</div>
			<div class="col-md-9">
				<h2>Detalles de la Matrícula:</h2>
				<ul>
					<li th:each="curso : ${cursosSeleccionados}">
						<span th:text="${curso.nombre}"></span> - <span th:text="${curso.costo}"></span>
					</li>
				</ul>
				<p>Total a pagar: <span th:text="${totalCosto}"></span></p>
				<form th:action="@{/matricular}" method="post">
					<a th:href="@{/seleccionCursos}" class="btn btn-link">Cancelar</a>
					<button type="submit">Matricular</button>
				</form>
			</div>
		</div>
	</div>
</body>

</html>