<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragmentos/header :: head"></div>
	<title>Detalles de la Matrícula</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- HEADER UNICO -->
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">

				<div class="pt-4  display-5 fw-bolder">
					Detalles de la Matrícula
				</div>

				<div class="my-3 rounded-4 border">
					<ul>
						<li th:each="curso : ${cursosSeleccionados}">
							<span th:text="${curso.nombre}"></span> - <span th:text="${curso.costo}"></span>
						</li>
					</ul>
					<p>Total a pagar: <span th:text="${totalCosto}"></span></p>
					<form th:action="@{/matricular}" method="post">
						<a th:href="@{/seleccionCursos}" class="btn btn-link">Cancelar</a>
						<button type="submit">Matricular</button>
					</form>
				</div>

			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>