<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head">
	<title>Usuarios</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- HEADER UNICO -->
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">
				<div class="pt-4  display-5 fw-bolder">
					Lista de Usuarios Registrados
				</div>

				<div class="my-3 rounded-4 border" style="height: 300px;">
                    <div class="row">
                        <div class="col-md-3 bg-warning">
                            <div th:insert="fragmentos/lado_izquierdo :: contenido_lado_izquierdo"></div>
                        </div>
                        <div class="col-md-9">
                            <h2>Detalles de Usuario</h2>
                            <div th:if="${usuario}">
                                <p><strong>Nombre:</strong> <span th:text="${usuario.nombres}"></span></p>
                                <p><strong>Apellidos:</strong> <span th:text="${usuario.apellidos}"></span></p>
                                <p><strong>DNI:</strong> <span th:text="${usuario.dni}"></span></p>
                                <p><strong>Correo:</strong> <span th:text="${usuario.correo}"></span></p>
                                <p><strong>Género:</strong> <span th:text="${usuario.genero}"></span></p>
                                <p><strong>Dirección:</strong> <span th:text="${usuario.direccion}"></span></p>
                                <p><strong>Fecha de Nacimiento:</strong> <span th:text="${usuario.fecha_nac}"></span></p>
                                <form th:action="@{/eliminarUsuario}" method="post">
                                    <button class="btn btn-danger" type="submit">Eliminar usuario actual</button>
                                </form>
                            </div>
                            <div th:unless="${usuario}">
                                <p>No se encontraron detalles del usuario.</p>
                            </div>
                        </div>
                    </div>
				</div>

				<div class="my-3 rounded-4 border" style="height: 300px;">
				RELLENA AQUÍ TU CODIGO
				</div>
			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>