<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragmentos/header :: head"></div>
    <title>Page Not Authorized</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <div th:insert="fragmentos/header :: menu"></div>
      	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<div class="container-fluid px-0 mb-3">
                <img width="100%" th:src= "@{/img/403.png}" />
			</div>
		</div>
	</main>
    <div th:insert="fragmentos/header :: scripts"></div>
</body>
</html>