<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragmentos/header :: head"></div>
	<title>Lobby</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:insert="fragmentos/header :: menu"></div>


  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<div th:insert="fragmentos/navbars :: my-navbar-1"></div>
			
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">
				<div class="pt-4  display-5 fw-bolder">DashBoard</div>
				<div class="row  my-2">
					<div class="col-sm-12 col-md-12 col-lg-6">

						<div class="card rounded-5 mb-3">
							<div class="row g-0">
							  <div class="col-xl-5 col-lg-5 col-md-4">
								<img th:src="@{img/courses.jpg}" class="rounded-5" width="100%" height="100%" alt="Cargando...">
							  </div>
							  <div class="col-xl-7 col-lg-7 col-md-8">
								<div class="card-body">
									<h5 class="card-text text-end m-0 p-0"><small class="text-body-secondary">Just Now</small></h5>
								  	<p class="card-title fw-bolder display-1 m-0 p-0  mb-sm-4 mb-md-0 txt-blue"><span th:text="${TotalCursosLastMonth}" /></p>
								  	<h4 class="card-text m-0 p-0">Nuevos Cursos Registrados Este Último Mes</h4>
								</div>
							  </div>
							</div>
						</div>

					</div>

					<div class="col-sm-12 col-md-12 col-lg-6">

						<div class="card rounded-5 mb-3">
							<div class="row g-0">
								<div class="col-xl-5 col-lg-5 col-md-4">
									<img th:src="@{img/users.jpg}" class="rounded-5" width="100%" height="100%" alt="Cargando...">
								</div>
								<div class="col-xl-7 col-lg-7 col-md-8">
									<div class="card-body">
										<h5 class="card-text text-end"><small class="text-body-secondary">Just Now</small></h5>
										<p class="card-title fw-bolder display-1 m-0 p-0 mb-sm-4 mb-md-0 txt-light-blue"><span th:text="${TotalUsuarios}"/></p>
										<h4 class="card-text">Total De Usuarios Registrados en Tecsup</h4>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
		
				<div class="my-3">
					<div class="row">
						<div class="col-lg-7 col-sm-12 mb-4">
							<div class="card rounded-4">
								<h4 class="card-header fw-bolder">Nuevos Profesores Registrados</h4>
								<div class="card-body row">

									<div class="col-6 p-2" th:each="profe:${Profesores}">
										<div class="card">
											<div class="card-header"><span class="fw-bolder"> Profesor :</span> <span th:text="${profe.nombres}" /></div>
											<img th:src="@{img/julio.webp}" class="card-img-top" alt="Cargando Imagen...">
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="col-lg-5 col-sm-12">
							<div class="card rounded-4">
								<h4 class="card-header fw-bolder">Notificaciones Recientes</h4>
								<div class="card-body p-0">
									
									<div class="alert border-top rounded-0 alert-dismissible fade show my-0 pb-0" role="alert" th:each= "profe:${Profesores}">
										<p class=" m-0 p-0">Last Month</p>
										<div class="row">
										<div class="col-3 p-3">
											<img th:src="@{img/julio.webp}" class="img-fluid rounded-circle border" alt="">
										</div>
										<div class="col-9 my-auto">
											<strong>Nuevo profesor registrado!</strong><br>Profesor <span th:text="${profe.apellidos}"/>, <span th:text="${profe.nombres}"/>
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div>
										</div>
									</div>

									<div class="alert border-top rounded-0 alert-dismissible fade show my-0 pb-0" role="alert" th:each= "curso:${CursosLastMonth}">
										<p class=" m-0 p-0">Last Week</p>
										<div class="row">
										<div class="col-3 p-3">
											<img th:src="@{img/course.jpg}" class="rounded-circle border img-fluid" alt="">
										</div>
										<div class="col-9 my-auto">
											<strong>Nuevo Curso registrado!</strong><br>Curso de <strong><span th:text="${curso.nombre}" /></strong><br>
											Fecha de Inicio: <span th:text="${curso.fec_ini}" />
											<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
										</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>