<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head"></head>

<body>
	<div th:insert="fragmentos/header :: menu"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 bg-warning">
				<div th:insert="fragmentos/lado_izquierdo :: contenido_lado_izquierdo"></div>
			</div>
			<div class="col-md-9">
				<h2>Mis Matrículas</h2>
				<table>
					<thead>
						<tr>
							<th>ID</th>
							<th>Código</th>
							<th>Costo Total</th>
							<th>Fecha de Matrícula</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="matricula : ${misMatriculas}">
							<td th:text="${matricula.id}"></td>
							<td>
                	<a th:href="@{/listaMatriculasCursoUsuario(codigoMatricula=${matricula.codigo})}" th:text="${matricula.codigo}"></a>

                </td>
							<td th:text="${matricula.costo_total}"></td>
							<td th:text="${matricula.fec_matricula}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>