<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragmentos/header :: head"></head>
	<title>Lista de Usuarios</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3">
				<div class="pt-4  display-5 fw-bolder">
					Usuarios Registrados
				</div>
				<div class="row  my-2">
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="my-2 p-3  border rounded-4  bg-light">
							<div class="d-flex align-items-center">
								<div class="icon-xl p-3 rounded-3  bg-secondary"><i class="bi bi-backpack2 px-3  custom-size-0"></i></div>
								<div class="ms-3"><h2 th:text="${#lists.size(usuarios.?[rol == 'ALUMNO'])}" /><span class="text-secondary  custom-size-1">Alumnos</span></div>
							</div>
						</div>
					</div>
		
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="my-2 p-3  border rounded-4 bg-light">
							<div class="d-flex align-items-center">
								<div class="icon-xl p-3 rounded-3  bg-warning"><i class="bi bi-person-exclamation px-3 custom-size-0"></i></div>
								<div class="ms-3"><h2 th:text="${#lists.size(usuarios.?[rol == 'PROFESOR'])}" /><span class="text-secondary  custom-size-1">Profesores</span></div>
							</div>
						</div>
					</div>
				</div>
				
				<nav class="pb-2">
					<div class="nav justify-content-between" id="nav-tab" role="tablist">
						<span class="pt-4 display-5  fw-bolder">Tabla de Registros</span>
						<div class="nav mt-5">
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check active" name="btnradio" autocomplete="off" checked id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"  role="tab" aria-controls="nav-home" aria-selected="true">
								<label class="btn btn-outline-primary" for="nav-home-tab">Table</label>
							  
								<input type="radio" class="btn-check" name="btnradio" autocomplete="off" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
								<label class="btn btn-outline-primary" for="nav-profile-tab">Cards</label>
							</div>
						</div>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

						<div class="my-3">
								<div class="table-responsive rounded-4 border">
									<table class="table">
										<thead class="table-light">
											<tr>
												<th>ID</th>
												<th>Nombres</th>
												<th>Apellidos</th>
												<th>DNI</th>
												<th>Correo</th>
												<th>Genero</th>
												<th>Dirección</th>
												<th>Fecha de Nacimiento</th>
												<th>Rol</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="usuario : ${usuarios}">
												<td th:text="${usuario.id}"></td>
												<td th:text="${usuario.nombres}"></td>
												<td th:text="${usuario.apellidos}"></td>
												<td th:text="${usuario.dni}"></td>
												<td th:text="${usuario.correo}"></td>
												<td th:text="${usuario.genero}"></td>
												<td th:text="${usuario.direccion}"></td>
												<td th:text="${usuario.fecha_nac}"></td>
												<td th:text="${usuario.rol}"></td>
											</tr>
										</tbody>
									</table>
								</div>
						</div>

					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
						
						<div class="my-3  container-fluid  p-0 m-0">
							<div class="row">
		
								<div class="col-sm-12 col-md-6 col-lg-4  pb-3" th:each="usuario : ${usuarios}">
								<div class="card">
									<div class="card-header m-0 pb-0 pt-3 px-4">
										<div class="row justify-content-between">
											<p class="col-auto">
												<strong><span th:text="'Nro ' + ${usuario.id}" /></strong>
											</p>
											<p class="col-auto text-body-secondary">
												<span th:text="${usuario.rol}" />
											</p>
										</div>
									</div>
									<div class="card-body">
										<p class="card-text"><strong>Apellido: </strong><span th:text="${usuario.apellidos}" /></p>
										<p class="card-text"><strong>Nombre: </strong><span th:text="${usuario.nombres}" /></p>
										<p class="card-text"><strong>DNI: </strong><span th:text="${usuario.dni}" /></p>
										<div class="accordion accordion-flush" id="accordionFlushExample">
											<div class="accordion-item">
												<h2 class="accordion-header">
													<button class="accordion-button btn btn-secondary collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
													Más Detalles
													</button>
												</h2>
												<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">	<!-- collapse o show -->
													<div class="accordion-body p-2">
														<strong>Fecha de Nacimiento:</strong><br><span th:text="${usuario.fecha_nac}" /><br>
														<strong>Dirección: </strong><br><span th:text="${usuario.direccion}" /><br>
														<strong>Correo: </strong><br><span th:text="${usuario.correo}" /><br>
														<strong>Género: </strong><br><span th:text="${usuario.genero}" /><br>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
		
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>