<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head">
	<title>Matricula-Usuario</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- HEADER UNICO -->
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">
				<div class="pt-4  display-5 fw-bolder">
					Mis Matrículas
				</div>
				<div class="my-3">
					<div class="table-responsive rounded-4 border" style="height: 500px;">
						<table class="table">
							<thead class="table-light">
								<tr>
									<th>ID</th>
									<th>Código</th>
									<th>Costo Total</th>
									<th>Fecha de Matrícula</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="matricula : ${misMatriculas}">
									<td th:text="${matricula.id}"></td>
									<td>
										<a th:href="@{/listaMatriculasCursoUsuario(codigoMatricula=${matricula.codigo})}" th:text="${matricula.codigo}" class="link-success"></a>
										
									</td>
									<td th:text="${matricula.costo_total}"></td>
								<td th:text="${matricula.fec_matricula}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
				
			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>