<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragmentos/header :: head"></div>
	<title>Mis Matriculas</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- HEADER UNICO -->
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">

			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3">
                <div class="pt-4  display-5 fw-bolder">
					Mis Matrículas
				</div>
				<div class="row my-2">
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="my-2 p-3  border rounded-4  bg-light">
							<div class="d-flex align-items-center">
								<div class="icon-xl p-3 rounded-3  bg-secondary"><i class="bi bi-airplane-engines  px-3  custom-size-0"></i></div>
								<div class="ms-3"><h2 th:text="${#lists.size(misMatriculas)}" /><span class="text-secondary  custom-size-1">Matriculas Concretadas</span></div>
							</div>
						</div>
					</div>
		
					<div class="col-sm-12 col-md-12 col-lg-6">
						<div class="my-2 p-3  border rounded-4 bg-light">
							<div class="d-flex align-items-center">
								<div class="icon-xl p-3 rounded-3  bg-warning"><i class="bi bi-currency-dollar px-3 custom-size-0"></i></div>
								<div class="ms-3"><h2 th:text="'S/. '+${CostoFinal}" /><span class="text-secondary  custom-size-1">Gastos Acumulados</span></div>
							</div>
						</div>
					</div>
				</div>
				
				
				<nav class="mt-4">
					<div class="nav justify-content-between" id="nav-tab" role="tablist">
						<span class="display-5 pt-auto fw-bolder py-1 py-md-0">Tabla de Registros</span>
						<div class="nav mt-auto py-1 py-md-0">
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check active" name="btnradio" autocomplete="off" checked id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"  role="tab" aria-controls="nav-home" aria-selected="true">
								<label class="btn btn-outline-primary" for="nav-home-tab">Table</label>
								
								<input type="radio" class="btn-check" name="btnradio" autocomplete="off" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
								<label class="btn btn-outline-primary" for="nav-profile-tab">Cards</label>
							</div>
						</div>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

						<div class="my-3">
							<div class="table-responsive rounded-4 border">
								<table class="table">
									<thead class="table-light">
										<tr>
											<th>ID</th>
											<th>Código</th>
											<th>Costo Total</th>
											<th>Fecha de Matrícula</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="matricula : ${misMatriculas}">
											<td th:text="${matricula.id}"></td>
											<td class="pe-5" th:text="${matricula.codigo}"></td>
											<td class="pe-5" th:text="${matricula.costo_total}"></td>
											<td>
												<div class="d-flex justify-content-between align-items-stretch">
													<span th:text="${matricula.fec_matricula}"></span>	
													<div class="btn-group dropup me-4">
														<a class="icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);" th:href="@{/listaMatriculasCursoUsuario(codigoMatricula=${matricula.codigo})}">
															<i class="bi bi-info-circle text-body-secondary mb-2" aria-hidden="true"></i> Mostrar Más
														</a>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
						
						<div class="my-3  container-fluid  p-0 m-0">
							<div class="row">
								
								<div class="col-sm-12 col-md-6 col-lg-4  pb-3" th:each="matricula : ${misMatriculas}">
									<div class="card">
										<div class="card-header m-0 pb-0 pt-3 px-4">
											<div class="hstack gap-1">
												<div class="pb-2"><strong><span th:text="'Nro ' + ${matricula.id}" /></strong></div>
												<div class="pb-2 ms-auto"></div>
												<div class="vr mb-2"></div>
												<div class="ps-2 pb-2 text-body-secondary"><span th:text="'S/. '+${matricula.costo_total}" /></div>
											</div>
										</div>
										<div class="card-body">
											<p class="card-text"><strong>Código: </strong><span class="tipo-vacante" th:text="${matricula.codigo}" /></p>
											<p class="card-text"><strong>Inscrito en: </strong><span th:text="${matricula.fec_matricula}" /><br></p>
										</div>
									</div>
								</div>
		
							</div>
						</div>

					</div>
				</div>
			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>