<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragmentos/header :: head"></head>
	<title>Cursos-Usuario</title>

    <!-- Step 1 - Include the fusioncharts core library -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- Step 2 - Include the fusion theme -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
	

            <!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3">
                <div class="pt-4  display-5 fw-bolder">
					Mis Cursos
				</div>
				<div class="row my-2">
                    <div class="col-md-12 col-lg-6">
                        <div>
                            <div class="p-3  border rounded-4  bg-light">
                                <div class="d-flex align-items-center">
                                    <div class="icon-xl p-3 rounded-3  bg-secondary"><i class="bi bi-backpack2 px-3  custom-size-0"></i></div>
                                    <div class="ms-3"><h2 th:text="${#lists.size(misCursos)}" /><span class="text-secondary  custom-size-1">Cursos Creados</span></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="my-5 p-3  border rounded-4 bg-light">
                                <div class="d-flex align-items-center">
                                    <div class="icon-xl p-3 rounded-3  bg-info"><i class="bi bi-boxes px-3 custom-size-0"></i></div>
                                    <div class="ms-3"><h2 th:text="${CursosCompletos}" /><span class="text-secondary  custom-size-1">Cursos Llenos</span></div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="mb-sm-5 p-3  border rounded-4 bg-light">
                                <div class="d-flex align-items-center">
                                    <div class="icon-xl p-3 rounded-3  bg-warning"><i class="bi bi-person-exclamation px-3 custom-size-0"></i></div>
                                    <div class="ms-3"><h2 id="TotalVacantes" th:text="${TotalVacantes}" /><span class="text-secondary  custom-size-1">Vacantes Restantes</span></div>
                                </div>  
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-lg-6">
						<div class="card">
							<h3 class="card-header fw-bolder py-2">
							  Estadísticas
							</h3>
							<div class="card-body row py-2 px-0">
								<div class="col-sm-12 col-md-6 col-lg-4">
                                    <div class="container-fluid">
                                        <div id="chart-container">FusionCharts XT will load here!</div>
                                    </div>
								</div>	
							</div>
						</div>
					</div>

				</div>
				
				
				<nav class="mt-4">
					<div class="nav justify-content-between" id="nav-tab" role="tablist">
						<span class="display-5 pt-auto fw-bolder py-1 py-md-0">Tabla de Registros</span>
						<div class="nav mt-auto py-1 py-md-0">
                            <a class="btn btn-secondary me-3" th:href="@{/formularioCurso}">Añadir +</a>
							<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
								<input type="radio" class="btn-check active" name="btnradio" autocomplete="off" checked id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"  role="tab" aria-controls="nav-home" aria-selected="true">
								<label class="btn btn-outline-primary" for="nav-home-tab">Table</label>
								
								<input type="radio" class="btn-check" name="btnradio" autocomplete="off" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
								<label class="btn btn-outline-primary" for="nav-profile-tab">Cards</label>
							</div>
						</div>
					</div>
				</nav>
				<div class="tab-content" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">

						<div class="my-3">
								<div class="table-responsive rounded-4 border">
                                    <table class="table">
                                        <thead class="table-light">
                                            <tr>
                                                <th>ID</th>
                                                <th>Curso</th>
                                                <th>Fec_ini</th>
                                                <th>Fec_fin</th>
                                                <th>Vacantes</th>
                                                <th>Costo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="curso : ${misCursos}">
                                                <td th:text="${curso.id}"></td>
                                                <td th:text="${curso.nombre}"></td>
                                                <td th:text="${curso.fec_ini}"></td>
                                                <td th:text="${curso.fec_fin}"></td>
                                                <td th:text="${curso.vacantes}"></td>
                                                <td> 
                                                    <div class="d-flex justify-content-between align-items-stretch">
                                                        <span class="" th:text="${curso.costo}" />
                                                        <div class="btn-group dropup my-auto">
                                                            <button type="button" class="btn m-0 p-0" data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="bi bi-three-dots-vertical"></i>
                                                            </button>
                                                            <ul class="dropdown-menu">
                                                            <li><a class="dropdown-item" th:href="@{/formularioCurso(id=${curso.id})}"><i class="bi bi-pencil-square txt-blue"></i></i> Editar</a></li>
                                                            <li><a class="dropdown-item" th:href="@{/eliminarCurso(id=${curso.id})}"><i class="bi bi-trash txt-red"></i> Eliminar</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
								</div>
						</div>

					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
						
						<div class="my-3  container-fluid  p-0 m-0">
							<div class="row">
								
								<div class="col-sm-12 col-md-6 col-lg-4  pb-3" th:each="curso : ${misCursos}">
									<div class="card">
										<div class="card-header m-0 pb-0 pt-3 px-4">
											<div class="hstack gap-1">
												<div class="pb-2"><strong><span th:text="'Nro ' + ${curso.id}" /></strong></div>
												<div class="pb-2 ms-auto"></div>
												<div class="vr mb-2"></div>
												<div class="ps-2 pb-2 text-body-secondary"><span th:text="'S/. '+${curso.costo}" /></div>
											</div>
										</div>
										<div class="card-body">
											<p class="card-text"><strong>Curso: </strong><span class="tipo-curso" th:text="${curso.nombre}" /></p>
											<p class="card-text"><strong>Vacantes: </strong><span class="tipo-vacante" th:text="${curso.vacantes}" />&nbsp;restantes</p>
											<div class="accordion accordion-flush" id="accordionFlushExample">
												<div class="accordion-item">
													<h2 class="accordion-header">
														<button class="accordion-button btn btn-secondary collapsed rounded-4" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
														Más Detalles
														</button>
													</h2>
													<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">	<!-- collapse o show -->
														<div class="accordion-body p-2">
															<strong>Fecha de Inicio:</strong><br><span th:text="${curso.fec_ini}" /><br>
															<strong>Feha de Finalización: </strong><br><span th:text="${curso.fec_fin}" /><br>
															<strong>Descripción: </strong><br><span th:text="${curso.descripcion}" /><br>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
		
							</div>
						</div>

					</div>
				</div>
			</div>

            

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>

    <script>
        list_vacantes = document.getElementsByClassName('tipo-vacante');
        list_cursos = document.getElementsByClassName('tipo-curso');
        TotalVacantes = document.getElementById('TotalVacantes').textContent;

        let new_data = [];

        for (let i = 0; i < list_vacantes.length; i++) {
            new_data.push({'label':list_cursos[i].textContent,'value':list_vacantes[i].textContent});
        }
        FusionCharts.ready(function() {
        var revenueChart = new FusionCharts({
            type: 'doughnut2d',
            renderAt: 'chart-container',
            width: '565',
            height: '512.4',
            dataFormat: 'json',
            dataSource: {
            "chart": {
                "caption": "Disponibilidad de las Vacantes Según el Curso",
                "subCaption": "Just Now",
                "numberPrefix": "",
                "bgColor": "#ffffff",
                "startingAngle": "310",
                "showLegend": "1",
                "defaultCenterLabel": `Vacantes Restantes: ${TotalVacantes} vacantes`,
                "centerLabel": "$label: $value",
                "centerLabelBold": "1",
                "showTooltip": "0",
                "labelFontColor": "#ffffff",
                "decimals": "0",
                "theme": "fusion",
                // "valuePosition": "inside",
                "minAngleForValue": "0",
                "enablesmartLabel": "0"
            },
            "data": new_data
            }
        }).render();
        });
    </script>
    </body>
</html>