<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head">
	<title>Cursos-Usuario</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">
				<div class="pt-4  display-5 fw-bolder">
					Mis Cursos
				</div>

				<div class="my-3 rounded-4 border table-responsive rounded-4 border" style="height: 500px;">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Costo</th>
                                <th>Fec_ini</th>
                                <th>Fec_fin</th>
                                <th>Vacantes</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="curso : ${misCursos}">
                                <td th:text="${curso.id}"></td>
                                <td th:text="${curso.nombre}"></td>
                                <td th:text="${curso.descripcion}"></td>
                                <td th:text="${curso.costo}"></td>
                                <td th:text="${curso.fec_ini}"></td>
                                <td th:text="${curso.fec_fin}"></td>
                                <td th:text="${curso.vacantes}"></td>
                                <td>
                                    <a th:href="@{/formularioCurso(id=${curso.id})}" class="btn btn-secondary">Editar</a>
                                    <a th:href="@{/eliminarCurso(id=${curso.id})}" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-center d-flex justify-content-center">
                        <a th:href="@{/formularioCurso}" class="btn btn-success">Agregar cursos</a>
                    </div>
				</div>

			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>