<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragmentos/header :: head">
	<title>Lista de Alumnos</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<div th:insert="fragmentos/header :: menu"></div>

  	<!-- CONTENIDO DE PAGINA WEB -->
	<main class="container flex-grow-1 pt-3">
		<div class="mx-xl-5">
			<!-- E L   U N I C O   N A V B A R -->
			<div th:insert="fragmentos/navbars :: my-navbar-2"></div>
			
			<!-- T O D O   L O   Q U E   E S T A   D E N T R O   D E   A Q U I,  P U E D E   S E R   C A M B I A D O -->
			<div class="container-fluid px-0 mb-3 ">
				<div class="pt-4  display-5 fw-bolder">
					Lista de Usuarios Registrados
				</div>

				<div class="my-3 rounded-4 border" style="height: 300px;">
					<table border="1">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombres</th>
								<th>Apellidos</th>
								<th>DNI</th>
								<th>Correo</th>
								<th>Genero</th>
								<th>Dirección</th>
								<th>Fecha de Nacimiento</th>
								<th>Rol</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario : ${usuarios}">
								<td th:text="${usuario.id}"></td>
								<td th:text="${usuario.nombres}"></td>
								<td th:text="${usuario.apellidos}"></td>
								<td th:text="${usuario.dni}"></td>
								<td th:text="${usuario.correo}"></td>
								<td th:text="${usuario.genero}"></td>
								<td th:text="${usuario.direccion}"></td>
								<td th:text="${usuario.fecha_nac}"></td>
								<td th:text="${usuario.rol}"></td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="my-3 rounded-4 border" style="height: 300px;">
				RELLENA AQUÍ TU CODIGO
				</div>
			</div>

		</div>
	</main>


	<div th:insert="fragmentos/footer :: footer"></div>
	<div th:insert="fragmentos/header :: scripts"></div>
    </body>
</html>